$black: rgba(0, 0, 0, 1);
$black90: rgba(0, 0, 0, 0.9);
$grayhard: rgba(138, 138, 138,1);
$gray: rgba(165, 165, 165, 1);
$menu: rgba(26, 26, 26, 1);
$onwhite: rgba(112, 112, 112, 1);
$onwhitelight: rgba(112, 112, 112, 0.1);
$white: rgba(255, 255, 255, 1);
$whitelight: rgba(255, 255, 255, 0.2);
$whitemed: rgba(255, 255, 255, 0.5);
$transparent: rgba(255, 255, 255, 0);
$sidebarA: linear-gradient(rgba(138, 138, 138, 1), rgba(41, 41, 41, 1));
$sidebarB: linear-gradient(rgba(138, 138, 138, 0), rgba(41, 41, 41, 0));
$videosl: radial-gradient(farthest-corner at 0% 0%, rgba(65, 65, 65, 1), rgba(0, 0, 0, 1));
$lowbar: rgba(59,58,58,0.27);
$footer: rgba(26, 26, 26, 1);
$test: rgb(255, 115, 0);